
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');


*{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

/* Counter */
body{
    counter-reset: my-h6-counter;
}

/* Header */

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top:75.15px;
    padding-bottom: 75.15px;

    font-weight: 500;
    font-size: 16px;

    margin-bottom: 30px;
}

header h1{
    display: none;
}

header div{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 550px;
}

header nav ul li{  
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color:#242E52;
}


button{
    border: none;
    cursor: pointer;

    color:white;

    padding:12.5px 30.5px;

    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    
    height: 44px;
}

button:hover, header nav ul li:hover {
    opacity: 0.6;
}

header img.hamburger{
    display: none;
}
/* Main */
/* Section 1 */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
    font-weight: 500;
    font-size: 16px;

}

main section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100vw;

    margin: 0px 30px 0px 30px;

}

main section:nth-child(1) div:nth-child(1){
    width:35%;
    margin-top: 70px;
}

main section:nth-child(1) div:nth-child(1) h2{
    font-weight:700;
    font-size: 58px;

    color:#232C50;
    line-height: 70px;
}

main section:nth-child(1) div:nth-child(1) p{
    width:350px;
    margin-top: 28px;
    margin-bottom: 28px;

    line-height: 26px;
}

/* Section 2 */

main section:nth-child(2){
    margin: 165px 0px 0px 0px;
}

main section:nth-child(2) div.Whats{
    width:35%;
}

main section:nth-child(2) div.Whats h3{
    font-weight:700;
    font-size: 36px;

    color:#232C50;
    line-height: 44px;
}

main section:nth-child(2) div.Whats p{
    margin-top: 36px;

    width: 70%;

    line-height: 26px;
}

main section:nth-child(2) div:nth-child(2) div{
   margin-bottom: 42px;

   font-size: 16.3px;

}

main section:nth-child(2) div:nth-child(2) div p{ 
    margin-left:100px;
    margin-top:18px;

    width: 450px;
    color:#B3B2B7;

    line-height: 26px;
}

main section:nth-child(2) div:nth-child(2) div h6{
    color:#323851;
    font-weight: bold;

    font-size: 16px;
}

main section div div h6:before{
    counter-increment: my-h6-counter;
    content: "0" counter(my-h6-counter);

    letter-spacing: 1.5px;

    background-color:#F3603B;
    color:white;

    border-radius:30px;
    padding:10px 25px;

    margin-right:23px;
}

/* Section 3 */

main section:nth-child(3){
    margin-top:130px;
    margin-bottom: 193px;
}

main section:nth-child(3) h3{
    margin-bottom:170px;

    color:#242E53;

    font-weight: 800;
    font-size: 40px;
}

main section:nth-child(3) div{
    display: flex;
    justify-content: space-between;

}

main section:nth-child(3) div article{
    background: #FAFAFA;

    width: 32%;
    height: 270px;
    padding:21px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;

    position:relative;
}

main section:nth-child(3) div article h6{
  font-weight: 700;
  font-size: 16px;

  margin-top: 70px;  
  color: #3F4868;
}

main section:nth-child(3) div article p{
    color:#B9B9C1;

    line-height: 26px;
}

main section:nth-child(3) div article img{
    border-radius: 50%;

    position:absolute;
    bottom:calc(270px - 144px/2);
}

main section:nth-child(3) button{
    margin-top: 50px;
}

main section:nth-child(3) img.circulos{
    display: none;
}

/* Section 4 */
main section:nth-child(4){
    background-color:#F3613C;
    color:white;

    padding-top:64px;
    padding-bottom:64px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}

main section:nth-child(4) button{
    background-color: white;
    color:#F3603B;
    white-space:nowrap;
}


main section:nth-child(4) p{
    font-size:48px;
    font-weight: 700;

    width:45%;
}

/* Footer */

footer{
    background-color: black;
    color:white;

    height: 270px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

    position: relative;
}

footer div.social{
    display: flex;
    flex-direction: column;

    height: 130px;

    justify-content: space-between;
    align-items: center;
}


footer div.social span{
    font-size: 24px;
    word-spacing: 2px;
}

footer div.social span i:hover{
    color:#F3613C;
}


footer div.menu{
    display: flex;
    justify-content: space-between;

    height: 130px;

    width: 25%;
}

footer ul{
    padding: 0px;
}

footer ul li{ 
    list-style-type: none;
    margin-bottom: 12px;
   
}


footer ul li a{
    text-decoration: none;
    color: white;
    
}

footer ul li a:hover {
    color:#F3613C;
}


footer div form{
    display: flex;

    height: 130px;

}

footer div form input{
    height:44px;
    border-radius: 50px;

    padding: 12.5px 48px 12.5px 10px;
    margin-right: 9px;

    border: none;
}

footer div form input:focus{
    color:#F3613C;
}


footer div form button{
    padding: 11.5px 22.5px;

    height: 44px;
}

footer div:nth-child(3) p.copy{
    color:#8C8C94;
    font-size: 12.5px;

    margin-left: 70px;
}

/* Media querys */
@media (max-width: 400px){
    header nav, header button{
        display:none;
    }

    header{
        justify-content: space-between;

        padding:45px 15px 0px 15px;

    }

    header img.hamburger{
        display:block;
    }
    
    main section:nth-child(1){
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    main section:nth-child(1) div:nth-child(1){
        width:100%;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    main section:nth-child(1) div:nth-child(1) h2{
        font-weight:900;
        font-size: 40px;

        line-height: 48px ;
    
    }

    main section:nth-child(1) div:nth-child(1) p{
        width:100%;
        padding:0px 36px 0px 36px;

        color: #B9B9C1;
    }

    main section:nth-child(1) div img{
        width: 100%;
        height: auto;
    }

    button{
        box-shadow: 0px 4px 7px rgba(230, 117, 52, 0.651);
    }

    main section:nth-child(2){
        margin: 100px 0px 0px 0px;
    }
    
    main section:nth-child(2) div.Whats{
        width:100%;

        margin-bottom: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }
    
    main section:nth-child(2) div.Whats h3{
        font-weight:900;
    }
    
    main section:nth-child(2) div.Whats p{
        width:100%;
        padding:0px 36px 0px 36px;

        color: #B9B9C1;
    }

    main section:nth-child(2) div:nth-child(2) div p{
        margin-left: 0px;

        width: 100%;
        padding:0px 10px 0px 10px;
    }

    main section:nth-child(2) div:nth-child(2) div h6{
        background-color:rgba(253, 221, 202, 0.5);
        padding:10px 0px 10px 0px;

        border-radius: 50px 0px 0px 50px;
    }

    main section:nth-child(3){
        margin-top:50px;
        margin-bottom: 50px;

        flex-direction: column;
        align-items: center;
    }
    
    main section:nth-child(3) h3{

        font-weight: 900;
        font-size: 35px;
    }
    
    main section:nth-child(3) div{
        justify-content: center;
    }
    main section:nth-child(3) div article{

        width: 100%;
    
        justify-content: center;
        align-items: center;
    
        text-align: center;
    
        position:relative;
    }
    
    main section:nth-child(3) div article h6{
    
      margin-top: 30px;   
    }
    
    main section:nth-child(3) div article p{
      margin-top:20px;
    }
    
    main section:nth-child(3) div article img{
        height: 100px;
        width: auto;

        top:-50px;
    }
    main section:nth-child(3) img.circulos{
        display: block;

        height: 100px;
        width: auto;
    }

    main section:nth-child(3) button{
        margin-top: 0px;
        width: 137.79px;
    }
    main section:nth-child(3) div article:nth-child(2n+1){
        display: none;
    }

    main section:nth-child(4){

        padding-top:64px;
        padding-bottom:64px;
    
        flex-direction: column;
        text-align: center;
    
        flex-wrap: wrap;
    }
    
    main section:nth-child(4) button{
        font-weight: bold;
    }
    
    
    main section:nth-child(4) p{
        font-size:30px;
        
        margin-bottom: 25px;
    
        width: 70%;
    }

    footer{
    flex-direction: column-reverse;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    }

    footer div.social{
        flex-direction: column-reverse;

        margin-bottom: 70px;
    }

    footer div.social span{
        margin-top: 25px;
        margin-bottom: 40px;

        word-spacing: 20px;

    }

    footer div.menu{
        justify-content: space-evenly;

        height: 100%;
        width: 100%;

        font-size: 12px;
    }


    footer div form{

        height: 100%;

        margin-bottom: 50px;
        margin-top: 50px;

    }

    footer div form input{
        font-size: 12px;
    
        padding: 10px 80px 10px 15px;
    }
    

    footer div form button{
        padding: 11.5px 30px;
    }

    footer div:nth-child(3) p.copy{
        position:absolute;
        bottom:10px;
        left:30px;

        font-size: 10px;
    }


}