@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 885px;
}


.desc{
    background-color: #1CD1B0;
    height: 38px;
    width:1024px;
}
.desc p{
    height:18px;
    position:relative;
    top:10px;
    left:10px;
    
}

.heroes{
    background-color:#00669F;
    box-shadow: 0px 7px 7px #9b9b9b;
    width:1024px; 

}

.heroes h1{
    width: 128px;
    height:47px;
    padding: 28px 868px 26px 28px;
    font-size: 40px;
}

article{ 
    display:inline-block;
    position: relative;
    top:152.5px;
    margin-left:20px;
}

.articulos{
    height: 834px;
    width:1024px;
    text-align:center;
}

.banner{
    background-image: url('../img/fondo-Batman.png');
    height:193px;
}

.banner2{
    background-image:url('../img/fondo-Harley.png');
    height:193px;
}

.card{
    width:300px;
    height:336px;
    background-color:#F3F3F3;
    text-align: center;
    box-shadow: 0px 3px 3px #9b9b9b;

}

.like{
    position:absolute;
    top:15.88px;
    left:21px;
}


#perfil{
        border-radius: 50%;
        position:relative;
        bottom: 65px;
    }

    
h2{
    font-size:30px;
    position:relative;
    bottom: 50px;
}

.cuerpo{
    font-size:16px;
    width:267px;
    height:113px;
    text-align:left;
    position:relative;
    bottom:35px;
    left: 16.5px;

}

button{
    color: white;
    background-color: #00669F;
    width:128.78px;
    height:48.52px;
    position:relative;
}

footer{
    background-color:#00669F;
    height: 51px;
    width:1024px;

}
.foot{
    color: white;
    font-size: 16px;
    padding: 16px 671px 16px 16px;

}

article{
    display: inline-block;
}