@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


header section p{
    background-color: #1CD1B0;
    font-size: 16px;
    padding:10px;
}

h1{
    background-color:#00669F;
    box-shadow: 0px 7px 7px #9b9b9b;
    padding: 28px 26px 26px 28px;
    font-size: 40px;
}

main section{
    margin-top: 80px;
    margin-bottom: 80px;

    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

article{ 
    position: relative;
    border-radius: 16px 16px 0 0;
    width:300px;
   
}

.banner{
    background-image: url('../img/fondo-Batman.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:185px;
    border-radius: 16px 16px 0 0;
    padding:16px;
}

.banner2{
    background-image:url('../img/fondo-ma.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:185px;
    border-radius: 16px 16px 0 0;
    padding:16px;

}

.banner3{
    background-image:url('../img/fondo-sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:185px;
    border-radius: 16px 16px 0 0;
    padding:16px;

}

.banner4{
    background-image:url('../img/fondo-hq.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:185px;
    border-radius: 16px 16px 0 0;
    padding:16px;

}

article div i{
    font-size:30px;
    color:#CC2424;
}

.card{
    height:336px;

    background-color:#F3F3F3;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    box-shadow: 0px 3px 3px #9b9b9b;

}

.perfil{

        border-radius: 50%;
        position:absolute;
        bottom: 275px;
    }

.perfil2, .perfil2bis{
    border-radius: 50%;
        position:absolute;
        bottom: 275px;
        width: 118px;
        height: 120px;
}

    
h2{
    margin-top: 50px;
    font-size:30px;

}

article div p{
    font-size:13px;
    width:267px;
    height:113px;
}

button{
    color: white;
    background-color: #00669F;
    width:128.78px;
    height:48.52px;
    border: none;
    cursor: pointer;

}

.add{

    display:block;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color:#00669F;
    color:white;

    position:fixed;
    right:5px;
    top:50vh;
    
    font-size:30px;
    border: none;
    cursor: pointer;
}

footer{
    background-color:#00669F;
    color: white;
    font-size: 16px;
    padding: 16px;
    position:relative;

    display:flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 100px;
    height:auto;
    
    position: absolute;
    right:25px;
}


@media (max-width: 1279px){
    .card{
        width:contain;
    }
    
    article{ 
        margin-bottom: 40px;
        width:35%;
        max-width: 400px;
        min-width: 300px;
    }

    footer{
        font-size: 12px;
    }

    footer img{
        width: 75px;
        height:auto;
    }  


}

@media (max-width: 760px){
 
    article{ 
        margin-bottom: 40px;
        width:65%;
    }

}

@media (max-width: 480px){
    .none{
        display:none;
    }
    
    .perfil2bis{
        display:none;
    }

    article{ 
        width:85%;
    }

    footer{
        font-size: 10px;
        justify-content: flex-start;
    }

    footer img{
        width: 50px;
        height:auto;
    }    
}
