@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 885px;
}


header section p{
    background-color: #1CD1B0;
    font-size: 16px;
    padding:10px;
}

.heroes{
    background-color:#00669F;
    box-shadow: 0px 7px 7px #9b9b9b;

}

.heroes h1{
    padding: 28px 868px 26px 28px;
    font-size: 40px;
}

.articulos{
    height: 834px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

article{ 
    position: relative;
}

.banner{
    background-image: url('../img/fondo-Batman.png');
    height:193px;
}

.banner2{
    background-image:url('../img/fondo-Harley.png');
    height:193px;
}

.card{
    width:300px;
    height:336px;

    background-color:#F3F3F3;

    position:relative;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    box-shadow: 0px 3px 3px #9b9b9b;

}

.like{
    position:absolute;
    top:15.88px;
    left:21px;
}


.perfil{
        border-radius: 50%;
        position:absolute;
        bottom: 275px;
    }

    
h2{
    margin-top: 50px;
    font-size:30px;

}

.cuerpo{
    font-size:16px;
    width:267px;
    height:113px;
}

button{
    color: white;
    background-color: #00669F;
    width:128.78px;
    height:48.52px;

}

footer{
    background-color:#00669F;
    color: white;
    font-size: 16px;
    padding: 16px;
}
