@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


header section p{
    background-color: #1CD1B0;
    font-size: 16px;
    padding:10px;
}


h1{
    background-color:#00669F;
    box-shadow: 0px 7px 7px #9b9b9b;
    padding: 28px 868px 26px 28px;
    font-size: 40px;
}

main section{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

article{ 
    position: relative;
    border-radius: 16px 16px 0 0;
    margin-top: 150px;
    margin-bottom: 150px;
}

.banner{
    background-image: url('../img/fondo-Batman.png');
    background-size: cover;
    height:193px;
    border-radius: 16px 16px 0 0;
    padding:16px;
}

.banner2{
    background-image:url('../img/fondo-Harley.png');
    background-size: cover;
    height:193px;
    border-radius: 16px 16px 0 0;
    padding:16px;
}

article div i{
    font-size:30px;
    color:#CC2424;
}
.card{
    width:300px;
    height:336px;

    background-color:#F3F3F3;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    box-shadow: 0px 3px 3px #9b9b9b;

}

.perfil{
        border-radius: 50%;
        position:absolute;
        bottom: 275px;
    }

    
h2{
    margin-top: 50px;
    font-size:30px;

}

.cuerpo{
    font-size:16px;
    width:267px;
    height:113px;
}

button{
    color: white;
    background-color: #00669F;
    width:128.78px;
    height:48.52px;
    border: none;
    cursor: pointer;

}

footer{
    background-color:#00669F;
    color: white;
    font-size: 16px;
    padding: 16px;
}
